/* Big tablet to 1600px */
@media only screen and (max-width: 1600px) {
    
    /* contact */
    
    .map-style{
        border: 2px solid #031432;
        margin: 0px auto;
    }
    
    .map-style iframe{
        width:  1135px; 
        height: 450px; 
    }
    
    .hero-contact-text{
        left: 41%;
    }
    
    .input-style-textarea {
        padding: 12px 290px;
        font-size: 80%;
    }
    
    .button-style{
        padding: 15px 337px;
    }
    
    /* pricing */
    
    .hero-about-text {
        left: 42%;
    }
}



/* Big tablet to 1200px (widths smaller then the 1140px row) */
@media only screen and (max-width: 1200px) {
    /* contact */
    .hero-contact-text{
        left: 38%;
        position: absolute;
    }
    
    .our-address-p{
        text-align: center; 
        font-size: 80%;
        margin: 0 40px;
    }
    
    .map-style{
        border: 2px solid #031432;
        margin: 0px 40px 0px 70px;
    }
    
    .map-style iframe{
        width:  100%; 
        height: 450px;
        padding-left: 0px;
        padding-right: -80px;
    }
    
    .input-style {
        padding: 12px 260px;
    }
    
    .input-style-textarea {
        padding: 12px 260px;
        font-size: 80%;
    }
    
    .button-style{
        padding: 15px 307px;
    }
}


/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    /* contact */
    .hero-contact-text{
        left: 35%;
        position: absolute;
    }
    
    .opening-text{
        padding: 60px 20px;
        left: 10%;
        position: relative;
        margin-bottom: 40px;
    }
    
    .form-text{
        margin-left: 20px;
        text-align: center;
    }
    
    .form-text-767px{
        position: relative;
        left: 7%;
    }
    
    .address{
        margin-right: 150px;
    }
    
    .col{ width: 100%; }
    
    .input-style{
        padding: 12px 390px;
    }
    
    .input-style-textarea {
        padding: 12px 386px;
    }
    
    .button-style {
        padding: 15px 413px;
    }
    
    .input-style {
        padding: 12px 336px;
    }
    
    .input-style-textarea {
        padding: 12px 335px;
    }
    
    .button-style {
        padding: 15px 382px;
    }
    
    .table-float{
        position: relative;
        left: 4%;
    }
    
     /* pricing */
    
    .hero-about-text {
        left: 37%;
    }
      
    .price-1 {
        border: 2px solid black;
        padding: 38px 40px;
        margin: 0px 121px;
    }
    
    .buy-now-1-1023px{
        position: absolute;
        left: 12%;
        top: 108%;
        padding: 15px 322px;
        border: 2px solid black;
        text-align: center;
        font-size: 80%;
        background-color: #EDEFF5;
    }
    
    .price-1-1023px {
        padding: 38px 40px;
        margin: 106px 124px;
        left: -2%;
        position: relative;
    }
    
    .buy-now-2-1023px{
        position: absolute;
        left: 12%;
        top: 169%;
        padding: 15px 319px;
        border: 2px solid black;
        text-align: center;
        font-size: 80%;
        background-color: #EDEFF5;
    }
    
    .price-2-1023px {
        padding: 38px 40px;
        margin: 0px 124px;
        left: -2%;
        position: relative;
    }
    
    .buy-ticket-now-1023px{
        position: absolute;
        left: 12%;
        top: 230%;
        padding: 15px 312px;
        border: 2px solid black;
        text-align: center;
        font-size: 80%;
        background-color: #EDEFF5;
    }
    
    .come-text-1{
        margin: 0px 67px;
    }
    
    .come-text-2{
        margin: 0px 50px;
    }
    
    /* pricing */
    
    
}


/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    /* contact */
    .hero-contact-text{
        left: 30%;
        position: absolute;
    }
    
    .opening-text{
        border: 2px solid black;
        padding: 60px 20px;
        margin-bottom: 40px;
        text-align: center;
        left: 11%;
        position: relative;
    }

    .form-text{
        margin-left: 20px;
        text-align: center;
    }
    
    .form-text-767px{
        position: relative;
        left: 11%;
        margin-bottom: 30px;
    }
    
    .col{ width: 100%; }
    
    .input-style {
        padding: 12px 260px;
    }
    
    .input-style-textarea {
        padding: 12px 256px;
    }
    
    .button-style {
        padding: 15px 283px;
    }
    
    .table-float {
        position: relative;
        left: 4%;
    }
    
    .button-style {
        padding: 15px 264px;
    }
    
    .input-style-textarea {
        padding: 12px 218px;
    }
    
    .input-style {
        padding: 12px 219px;
    }
    
    /* pricing */
    
    .hero-about-text {
        left: 33%;
    }
    
    .buy-now-1-1023px{
        left: 16%;
        top: 110%;
        padding: 15px 194px;
    }
    
    .price-1-1023px {
        padding: 38px 40px;
        margin: 106px 124px;
        left: -2%;
        position: relative;
    }
    
    .buy-now-2-1023px{
        left: 16%;
        top: 173%;
        padding: 15px 191px;
    }
    
    .price-2-1023px {
        padding: 38px 40px;
        margin: 0px 124px;
        left: -2%;
        position: relative;
    }
    
    .buy-ticket-now-1023px{
        left: 16%;
        top: 236%;
        padding: 15px 184px;
    }
}



/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
   /* contact */
    .hero-contact-text{
        left: 23%;
        margin-top: 29px;
        position: absolute;
        font-size: 70%;
    }
    
    .phone-no-bg {
        font-size: 80%;
    }
    
    .opening-text{
        left: 26%;
    }
    
    .form-text-767px{
        left: 25%;
    }
    
    .input-style {
        padding: 12px 87px;
    }
    
    .input-style-textarea {
        padding: 12px 126px;
    }
    
    .button-style {
        padding: 15px 153px;
    }
    
    .our-address-p {
        text-align: center;
        font-size: 70%;
        margin: 30px 20px;
    }
    
    .map-style {
        margin: 0 30px;
    }
    
    .table-float {
        position: relative;
        left: 7%;
    }
    
    .input-style-textarea {
        padding: 12px 86px;
    }
    
    .button-style {
        padding: 15px 133px;
    }
    
    /* pricing */
    
    .hero-about-text {
        left: 25%;
        padding-top: 25px;
        font-size: 80%;
    }
    
    .price-1 {
        margin: 57px 38px;
    }
    
    .buy-now-1-1023px {
        left: 9%;
        top: 122%;
        padding: 15px 130px;
    }
    
    .buy-now-2-1023px {
        left: 7%;
        top: 189%;
        padding: 15px 130px;
    }
    
    .buy-ticket-now-1023px {
        left: 7%;
        top: 256%;
        padding: 15px 123px;
    }
    
    .come-text-2 {
        margin: 20px 66px;
    }
}

